/* * { */
    /* border: 1px solid black; */
    /* margin: 5px auto;  */
    /* note that input or their buttons do not display correctly with this margin setting */
/* } */

h3 {
    font-size: 20px;
}

h5{
    font-size: 16px;
}

.card-header, .card-footer {
    background: rgb(240, 220, 240); /*lightcyan;*/
    text-align: center;
}

.uv012 {
    background: greenyellow;
}

.uv34 {
    background: yellow;
}

.uv56 {
    background: orange;
}

.uv789 {
    background: red;
}

.uv10plus {
    background: purple;
    color: white;
}

#city-list {
    margin: 5px auto;
}

#title-bar {
    background: rgb(240, 220, 240); /*lightcyan;*/
    border: 1px solid darkgrey;
    margin: 5px auto;
    text-align: center;
}