* {
    /* border: 1px solid black; */
    margin: 5px auto; 
    /* note that input or their buttons do not display correctly with this margin setting */
}

.uv012 {
    background: greenyellow;
}

.uv34 {
    background: yellow;
}

.uv56 {
    background: orange;
}

.uv789 {
    background: red;
}

.uv10plus {
    background: purple;
    color: white;
}